<div class="card" (click)="showDetails(invoice.id)">
  <div class="id-name">
    <div class="invoice-number">{{ invoice.id }}</div>
    <div class="name">{{ invoice.clientName }}</div>
  </div>
  <div class="due-date-container">
    <div class="due-date-amount">
      <div class="due-date">Due {{ invoice.paymentDue }}</div>
      <div class="amount">&#163;{{ invoice.total }}</div>
    </div>
    @if(invoice.status==='paid'){
    <div class="status paid">Paid</div>
    } @else if (invoice.status==='pending') {
    <div class="status pending">Pending</div>
    } @else {
    <div class="status draft">Draft</div>
    }
  </div>
</div>
