<div class="main">
  <a (click)="goBack()">
    <svg
      width="6"
      height="11"
      viewBox="0 0 6 11"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4.3418 0.885742L0.113895 5.11364L4.3418 9.34155"
        stroke="#7C5DFA"
        stroke-width="2"
      />
    </svg>
    <span>Go back</span>
  </a>
  <div class="status-bar">
    <div class="status-bar-left">
      <p class="status-text">Status</p>
      @if(invoice.status==='paid'){
      <div class="paid-status-indicator">
        <div class="paid-circle"></div>
        <div class="status paid">Paid</div>
      </div>

      } @else if (invoice.status==='pending') {
      <div class="pending-status-indicator">
        <div class="pending-circle"></div>
        <div class="status pending">Pending</div>
      </div>

      } @else {
      <div class="draft-status-indicator">
        <div class="draft-circle"></div>
        <div class="status draft">Draft</div>
      </div>

      }
    </div>

    <div class="invoice-header-actions">
      <a [routerLink]="['/invoice/', invoice.id, 'edit']" class="edit">Edit</a>
      <button class="delete" (click)="showDeleteModal = true">Delete</button>
      <button class="mark-as-paid">Mark as Paid</button>
    </div>
  </div>

  <div class="invoice-container">
    <div class="invoice-type-location">
      <header class="invoice-type">
        <h5>
          <span>#</span><span>{{ invoice.id }}</span>
        </h5>
        <p>{{ invoice.description }}</p>
      </header>

      <div class="invoice-location">
        {{ invoice.senderAddress.street }}<br />
        {{ invoice.senderAddress.city }}<br />
        {{ invoice.senderAddress.postCode }}<br />
        {{ invoice.senderAddress.country }}
      </div>
    </div>

    <div class="bill-info">
      <div class="date-bill-container">
        <div class="date-container">
          <p>Invoice Date</p>
          <p class="invoice-date">{{ invoice.createdAt }}</p>

          <div class="payment-container">
            <p>Payment Date</p>
            <p class="invoice-date">{{ invoice.paymentDue }}</p>
          </div>
        </div>
        <div class="bill-container">
          <p>Bill To</p>
          <p class="invoice-date">{{ invoice.clientName }}</p>
          <div class="bill-address">
            {{ invoice.clientAddress.street }}<br />
            {{ invoice.clientAddress.city }}<br />
            {{ invoice.clientAddress.postCode }}<br />
            {{ invoice.clientAddress.country }}
          </div>
        </div>
      </div>
      <div class="email-container">
        <p>Sent to</p>
        <div>{{ invoice.clientEmail }}</div>
      </div>
    </div>
    <div class="price-breakdown-container">
      @for (item of invoice.items; track $index) {
      <div class="top">
        <div class="item-price">
          <p>{{ item.name }}</p>
          <div>{{ item.quantity }}x&#163;{{ item.price }}</div>
        </div>
        <p class="price">&#163;{{ item.quantity * item.price }}</p>
      </div>
      }
    </div>
    <!-- Desktop View -->
    <div class="desktop-price-breakdown-container">
      <table>
        <thead>
          <tr>
            <td>Item Name</td>
            <td>Qty</td>
            <td>Price</td>
            <td>Total</td>
          </tr>
        </thead>
        <tbody>
          @for (item of invoice.items; track $index) {
          <tr>
            <td>
              <p class="item-name-total">{{ item.name }}</p>
            </td>
            <td>
              <p>{{ item.quantity }}</p>
            </td>
            <td>
              <p>{{ item.price }}</p>
            </td>
            <td>
              <p class="price item-name-total">
                &#163;{{ item.quantity * item.price }}
              </p>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="total">
      <p>Grand Total</p>
      <p>&#163;{{ invoice.total }}</p>
    </div>
  </div>
</div>
<!-- <div class="invoice-footer">
  <a [routerLink]="['/invoice/', invoice.id, 'edit']" class="edit">Edit</a>
  <button class="delete">Delete</button>
  <button class="mark-as-paid">Mark as Paid</button>
</div> -->

<div class="invoice-footer">
  <a [routerLink]="['/invoice/', invoice.id, 'edit']" class="edit">Edit</a>
  <button class="delete" (click)="showDeleteModal = true">Delete</button>
  <button class="mark-as-paid">Mark as Paid</button>
</div>

<!-- Modal Overlay -->
@if (showDeleteModal) {
<div class="modal-overlay">
  <div class="modal">
    <h2>Confirm Deletion</h2>
    <small>
      Are you sure you want to delete invoice #{{ invoice.id }}? This action
      cannot be undone.
    </small>
    <div class="modal-actions">
      <button class="cancel" (click)="showDeleteModal = false">Cancel</button>
      <button class="delete" (click)="deleteInvoice(invoice.id)">Delete</button>
    </div>
  </div>
</div>
}
