<section class="action-container">
  <div class="left-action">
    <h4>Invoices</h4>
    <p>
      <span>{{ numberOfInvoices }}</span
      ><span>invoices</span>
    </p>
  </div>
  <div class="right-action">
    <select>
      <option>Filter by status</option>
      <option value="pending">Pending</option>
      <option value="paid">Paid</option>
      <option value="draft">Draft</option>
    </select>
    <a [routerLink]="['new-invoice']" class="mobile-new"
      ><img src="add-invoice.png" /><span>New</span></a
    >
    <a class="desktop-new" (click)="onDesktopNewClick()"
      ><img src="add-invoice.png" /><span>New</span></a
    >
  </div>
</section>
